<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink = "/app-admin-landing">Stock Market</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExampleDefault" style>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-manage-company">Manage Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-import-stock">Import Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-manage-ipo">Manage IPO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-new-ipo">New IPO</a>
        </li>
      </ul>
      <ul>
        <li class="nav nav-pills pull right" id = "logout">
            <a class = "nav-link" (click) = "logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
<div id="main">
    <div class="fof">
            <h1>Welcome Admin!</h1>
    </div>
</div>