.btn {
width:fit-content;
text-align: center;
position:relative;
}

/* .form-group{
    width: 800px;
    border-block: 2px;
} */

.form-inline{
    padding:10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.form{
    padding:10px;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
                
}