<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand">Stock Market</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExampleDefault" style>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-user-login">User Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-admin-login">Admin Login</a>
        </li>
      </ul>
      <ul>
        <li class="nav nav-pills pull right">
            <a class = "nav-link" routerLink = "/app-signup">Create User Account</a>
        </li>
      </ul>
    </div>
 </nav>
 <div id="main">
    <div class="fof">
            <h1>Welcome!</h1>
            <h2>Please login to continue</h2>
    </div>
</div>