<div class="login-form">
    <form [formGroup] = "itemForm">
        <h2 class="text-center">User Log in</h2>       
        <div class="form-group">
            <input type="text" [(ngModel)] = "Username" class="form-control" 
            formControlName = "Username" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="password" [(ngModel)] = "Password" class="form-control" 
            formControlName = "Password" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" (click) = "Validate()">Log in</button>
        </div>  
    </form>
    <p class="text-center"><a routerLink = "/app-signup">Create an Account</a></p>
</div>