<div class="form">
    <form [formGroup] = "itemForm" (ngSubmit) = "onSubmit()">
        <h2 class="text-center">New Company Registration</h2>       
        <div class="form-group">
            <input type="text" [(ngModel)] = "CompanyCode"
            formControlName = "CompanyCode" class="form-control" placeholder="Company Code" required="required">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)] = "CompanyName" 
            formControlName = "CompanyName" class="form-control" placeholder="Company Name" required="required">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)] = "Turnover"
            formControlName = "Turnover" class="form-control" placeholder="Turnover">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)] = "CEO"
            formControlName = "CEO" class="form-control" placeholder="CEO">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)] = "BoardofDirectors"
            formControlName = "BoardofDirectors" class="form-control" placeholder="Board of Directors">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)] = "Sector" 
            formControlName = "Sector" class="form-control" placeholder="Sectors">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)] = "Writeup" 
            formControlName = "Writeup" class="form-control" placeholder="Write up">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)] = "IPOID"
            formControlName = "IPOID" class="form-control" placeholder="IPO ID">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" routeLink = '/app-user-landing'>Register</button>
        </div>
    </form>
</div>